.name{
    display: inline;
    margin: 90px;
    padding: 150px;
}
*{
    margin: 0;
    padding: 0;
}
ul,li {
    background-color: rgb(135, 97, 196);
    list-style: none;
    display:inline ;
    margin:8px;
    padding: 13px;
    width: 100px;
    height:100vh;
    position: sticky;
    
}